<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/header.ejs", {title: hike.title}) %>
</head>

<body>

    <%- include ("../partials/nav.ejs") %>

        <header>
            <div class="headerImageContainer">
                <img class="headerImage" src="<%= hike.imageUrl %>">
            </div>
            <h1 class="hikeTitle">
                <%= hike.title %>
            </h1>
            <div class="headerGradient"></div>
        </header>
        <!-- 
        <%= JSON.stringify(hike) %> -->
        <div class="hikeSpecs">
            <div class="hikeInfo">
                <% if(hike.date){ %>
                    <div class="infoRow">
                        <div class="info">When:</div>
                        <div>
                            <%= hike.date.toLocaleDateString('en-us', { weekday:"long", year:"numeric", month:"short",
                                day:"numeric"}) %>
                        </div>
                    </div>
                    <% } %>
                        <% if(hike.location){ %>
                            <div class="infoRow">
                                <div class="info">Where:</div>
                                <div>
                                    <%= hike.location %>
                                </div>
                            </div>
                            <% } %>
                                <% if(hike.maxParticipants){ %>
                                    <div class="infoRow">
                                        <div class="info">Max Participants:</div>
                                        <div>
                                            <%= hike.maxParticipants %>
                                        </div>
                                    </div>
                                    <% } %>
                                        <% if(hike.duration){ %>
                                            <div class="infoRow">
                                                <div class="info">Duration:</div>
                                                <div>
                                                    <%= hike.duration %>
                                                </div>
                                            </div>
                                            <% } %>
                                                <% if(hike.difficulty){ %>
                                                    <div class="infoRow">
                                                        <div class="info">Difficulty Level:</div>
                                                        <div>
                                                            <%= hike.difficulty %>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                                        <% if(hike.spaces){ %>
                                                            <div class="infoRow">
                                                                <div class="info">Spaces Left:</div>
                                                                <div>
                                                                    <%= hike.spaces %>
                                                                </div>
                                                            </div>
                                                            <% } %>
            </div>
        </div>
        </div>
        <div class="aboutHike">
            <h2>About this hike</h2>
            <% if(hike.description) { %>
                <p>
                    <%= hike.description %>
                </p>
                <% } %>

                    <h2>Registration</h2>
                    <div class="registration">
                        <div id="registrationForm">
                            <div class="inputfields">
                                <input type="text" required id="name" name="name" placeholder="full name">

                                <input type="text" required id="email" name="email" placeholder="Email">
                            </div>

                            <div class="messagebox">
                                <textarea id="message" name="message" placeholder="Write a message.." style="height:200px"></textarea>
                            </div>
                            <div style="display: flex">
                                <input type="checkbox" required name="privacyPolicyCheckbox" id="privacyPolicyCheckbox">
                                <label for="privacyPolicyCheckbox" name="privacyPolicyCheckbox">I have read and understood the <a href="/data-protection">data protection terms</a> and would like to apply for this hike</label>
                            </div>
                            <div class="sendbutton">
                                <button onclick="submitRegistration('<%= hike.uuid %>');"> Send </button>
                            </div>
                        </div>
                    </div>




        </div>
        <div class="homeHikesImg">
            <h4 class="subTitle">Check out all our hikes</h4>
            <a class="joinBtn" href="/hikes">See hikes</a>
        </div>
        <!-- Footer -->
        <%- include("../partials/footer.ejs") %>
            <script src="/registration.js"></script>
</body>

</html>