<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/header.ejs",{title:"Hiking Club"}) %>
</head>

<body>
    <!-- Mobile Navbar -->
    <%- include("../partials/nav.ejs") %>

        <!-- Header Image -->
        <header class="headerImg">
            <h1 class="headTitle">Hiking Club</h1>
        </header>

        <h2><strong>Upcoming Hikes</strong></h2>
        <%for (let i=0; i < hikes.length && i < 3; i++) { %>
            <!-- Hike Image  -->
            <div class="hikeImg">
                <a href=""><img class="hikeImage" src="<%= hikes[i].imageUrl%>"></a>
                <div class="hikeText">
                    <p class="hikeTitle"><strong>
                            <%= hikes[i].title%>
                        </strong></p>
                    <p class="hikeLoca">
                        <%= hikes[i].location%>
                    </p>
                    <p class="hikeDesc">
                        <%= hikes[i].description%>
                    </p>
                </div>
            </div>
            <%}%>

                <!-- separator image -->
                <div class="sepImg">
                    <h4 class="subTitle">Let's hike together</h4>
                    <button class="joinBtn">Join us</button>
                </div>

                   <!-- News image -->
                   <div class="newsFootImg">
                    <h4 class="subTitle">Hiking News</h4>
                    <button class="joinBtn">Read here</button>
                </div>




                <!-- Footer -->
                <%- include("../partials/footer.ejs") %>




</body>

</html>