<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/header.ejs",{title:"Hiking Club"}) %>
</head>


<body>
    <!-- Navbar -->
    <%- include("../partials/nav.ejs") %>

        <!-- News Image -->
        <header class="newsImg" style='background-image: url("<%= news.picture%>")'>
            <h1 class="newsTitle">
                <%= news.title %>
            </h1>
        </header>

        <div class="newsdescription">
            <h3><strong>               
                 <%= news.publishDate.toLocaleDateString('en-us', { weekday:"long", year:"numeric", month:"short", day:"numeric"}) %>
            </strong></h3>
        </div>

        <div class="tags">
            <%for (let i=0; i < news.tags.length; i++) { %>
                <!-- Maybe for the future, have an API call to filter news by tags -->
                <div className="tags">
                    <%= news.tags[i] %>
                </div>
                <% } %>
        </div>

        <!-- News Container -->
        <div class="newsContainer">
            <h2><strong>News</strong></h2>
            <p id="newsContent">
                <%- news.content %>
            </p>
        </div>

        <!-- News Image -->
        <div class="newsFootImg">
            <a href="/news" class="joinBtn">More News</a>
        </div>

        <!-- News Description -->



        <!-- Footer -->
        <%- include("../partials/footer.ejs") %>





</body>

</html>