<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/header.ejs",{title:"Hiking Club"}) %>
</head>

<body>
    <!-- Navbar -->
    <%- include("../partials/nav.ejs") %>

        <!-- News Image -->
        <header class="newsImg" style='background-image: url("<%= news.picture%>")'>
            <h1 class="newsTitle">
                <%= news.title%>
            </h1>
        </header>

        <div class="newsdescription">
            <h3><strong>               
                 <%= news.publishDate%>
            </strong></h3>
        </div>

        <div class="tags">
            <button class="tagBtn">Tag</button>
            <button class="tagBtn">Tag</button>
            <button class="tagBtn">Tag</button>
        </div>

        <!-- News Container -->
        <div class="newsContainer">
            <h2><strong>News</strong></h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque libero autem quo, fuga eligendi
                perferendis laboriosam praesentium nihil adipisci alias eius aliquam, culpa fugiat sequi magni animi
                harum enim eum!</p>
        </div>

        <!-- News Image -->
        <div class="newsFootImg">
            <button class="joinBtn">More News</button>
        </div>

                <!-- News Description -->
    


        <!-- Footer -->
        <%- include("../partials/footer.ejs") %>




</body>

</html>